<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Questionário</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header id="mr-nav">
        <span>
            <img src="{% static 'img\logo_branco.png' %}" alt="Logo Unoesc">   
        </span>
        <a href="{% url 'editar_questionario' questionario.id %}"><button>Editar Questionário</button></a>
        <a href="{% url 'lista_questionarios' %}"><button>Questionário</button></a>
    </header>
    <div id="page">
        <main id="page-content">
            <form method="post" id="questionario-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Salvar Edições</button>
            </form>
        </main>
    </div>
</body>
</html>
