{% extends "lista_questionarios.html" %}

{% block content %}
  <form method="POST" action="{% url 'edit_score' %}">
    {% csrf_token %}
    {% for score in scores %}
      <div>
        <label for="score{{ forloop.counter }}">Score for Question {{ forloop.counter }}</label>
        <input type="number" name="score" id="score{{ forloop.counter }}" value="{{ score.pontuacao }}">
        <br>
        <label for="explanation{{ forloop.counter }}">Explanation for Question {{ forloop.counter }}</label>
        <textarea name="explanation" id="explanation{{ forloop.counter }}">{{ score.explicacao }}</textarea>
      </div>
    {% endfor %}
    <br>
    <button type="submit">Save Changes</button>
  </form>
{% endblock %}
